@import url("https://fonts.googleapis.com/css?famiyl=Poppins:200,300,400,500,600,700,800,900&display=swap");

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #c72092 , #6c14d0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #6c14d0;
    --primary2: #d400d4;
}

body {
    background: #000;
    font-family: 'Roboto', sans-serif;
}

#preloader{
    background: #000 url(Images/gif/preloader.gif) no-repeat center;
    background-size: 11%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
}

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor:before{
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}


/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}

header::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    height: 5px;
    width: 40%;
    background: linear-gradient(90deg, var(--primary2), transparent);
}

.logo img{
    max-width: 80px;
    border-radius: 50%;
}

header .year{
    font-family: 'Racing Sans One', cursive;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 48px;
}

header .menu{
    position: relative;
    height: 30px;
    width: 30px;
    background: url(Images/home/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: none;
}

header .menu.active{
    position: relative;
    height: 35px;
    width: 35px;
    background: url(Images/home/close.png) no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}

.nav{
    z-index: 200;
    position: absolute;
    right: 100px;
    top: 0;
    width: 30%;
    height: 5px;
    border-bottom: 5px solid;
    border-image: linear-gradient(
        90deg, 
        transparent, 
        var(--primary),
        var(--primary)
    ) 
    30;  
    background: transparent;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    transform-origin: right;
}

.nav.active{
    top: 100px;
    width: 40%;
    height: 100px;
    border-top: 5px solid;
    border-image: linear-gradient(
        90deg, 
        transparent, 
        var(--primary),
        var(--primary),
        transparent
    ) 
    30; 
    border-bottom: none;
}

.nav li{
    position: relative;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    transition: 0.5s;
}

.nav.active li{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.nav li a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 5px 20px;
    transition: 0.2s;
    cursor: pointer;
}

.nav li a:hover{
    box-shadow: inset 0 0 20px rgba(0, 194, 222, 0.5);
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.9)
    );
}

.banner::before{
    position: absolute;
    content: '';
    top: 25%;
    left: 0;
    width: 5px;
    height: 40%;
    background: linear-gradient(var(--primary),var(--primary),transparent);
    z-index: 100;
}

.banner .bg-video{
    display: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.banner .bg-video.active{
    display: block;
} 



/* Banner Content */

.banner .content{
    position: relative;
    max-width: 700px;
    padding-bottom: 200px;
    z-index: 100;
}

.banner .content h1{
    font-family: 'Racing Sans One', cursive;
    font-size: 10em;
    color: #fff;
    font-weight: 500;
    line-height: 0.8em;
    letter-spacing: 5px;
}

.banner .content p{
    color: #fff;
    font-size: 200;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.banner .content a{
    position: relative;
    width: 200px;
    color: #fff;
    text-decoration: none;
    padding: 15px 50px;
    background: transparent;
    border-bottom: 3px solid;
    border-image: linear-gradient(
        90deg,
        transparent,
        var(--primary2),
        var(--primary2),
        transparent
    ) 
    30;
    box-shadow: inset 0 0 10px rgba(0, 194, 222, 0.5);
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.5s;
}

.banner .content a:hover{
    box-shadow: inset 0 0 50px rgba(0, 194, 222, 0.5);
}

/* Screen */
.banner .screen{
    position: absolute;
    right: 10%;
    bottom: 100px;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
    z-index: 100;
}

@keyframes animate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

/* rotate from 0deg to 360deg = one round */

.screen div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.screen div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(transparent, var(--primary));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    /* .banner .screen (width) 300px / 2 = 150px */
}

.shadow{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    background: var(--primary);
    transform: rotateX(-90deg) translateZ(150px);
    filter: blur(20px);
    box-sizing: 0 0 120px rgba(0, 194, 222, 0.2),
    0 0 120px rgba(0 ,194, 222, 0.4),
    0 0 120px rgba(0 ,194, 222, 0.6),
    0 0 120px rgba(0 ,194, 222, 0.8),
    0 0 120px rgba(0 ,194, 222, 1);
}

/* Screen Video */
.screen div span video{
    position: absolute;
    bottom: 0;
    height: 75%;
    width: 100%;
    transition: 0.5s;
    object-fit: cover;
    object-position: center;
}

.trailer{
    display: none;
}

.trailer.active{
    display: block;
}


/* Banner Gallery */
.banner .gallery{
    position: absolute;
    content: '';
    left: 100px;
    bottom: 0;
    width: 55%;
    height: 30%;
    z-index: 100;
    background: transparent;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5),
        0px -10px 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .gallery::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    background: var(--primary);
    filter: blur(15px);
}

.banner .gallery .carousel{
    width: 100%;
    height: 100%;
}

.carousel .carousel-item{
    width: 250px;
    cursor: pointer;
}

.carousel .carousel-item img{
    border-radius: 10px;
    object-fit: cover;
    object-position: center; 
}



/* Social Icons */
.sci{
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    transition: 0.3s;
}

.sci li a:hover{
    color: var(--primary);
}





/*Footer*/

footer{
    width: 100%;
}

footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #1c0080;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
    position: relative;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    /* padding: 2px 0; */
    position: absolute;
    top: -23%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    border: none;
    margin-top: 62px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}










/* Responsive Designs */
@media (max-width: 600px){
    header{
        padding: 20px 50px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    
    header::after{
        top: 50%;
        transform: translate(-50%, -50%);
        background: var(--primary);
    }
    
    .logo{
        margin-top: 10px;
    }

    .nav{
        right: 0;
        width: 100%;    
    }

    .nav.active{
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border: none;
    }
    
    .banner {
        padding: 50px 30px 100px;
    }

    .banner .content{
        position: relative;
        padding: 50px 0 100px;
    }

    .banner .content h1{
        font-size: 5em;
    }

    .banner .content .model{
        font-size: 2em;
    }
    .banner .content a{
        width: 150px;
        padding: 10px 30px;
    }
    .banner .screen{
        display: none;
    }
    .banner .gallery{
        width: 100%;
        left: 0;
    }
    .sic{
        right: 20px;
    }
}